* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: 10px;
  height: 10 vh;
}

.parent {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
}

#NC-Logo {
  color: red;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.76);
}

a:active {
  text-decoration: none;
  color: inherit;
}

.author,
.date {
  font-size: 0.7em;
}

.spinners {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
}

#comments-button,
#likes-button {
  margin-left: 5px;
}

.blockquote-footer {
  margin: 100px;
}
