* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  margin: 10px;
  height: 10 vh;
}

.parent {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
}

#NC-Logo {
  color: red;
}

#header {
  text-decoration: none;
  color: inherit;
}

.author {
  font-size: 0.5em;
}

.spinners {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically (if container has height) */
}
